@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'poppins', 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
  background: #808080;
}

.grey {
  color: #333;
}

nav {
  background: #f2f2f2;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

label.logo {
  line-height: 100px;
  padding: 0 100px;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-links {
  float: right;
  margin-right: 20px;
}

#dork {
  display: none;
  height: 40px;
  width: 40px;
  background-color: #e91;
  margin: 0 20px 20px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #333;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-links li {
  display: inline-block;
  line-height: 70px;
  margin: 0 5px;
}

.nav-links li a {
  color: #333;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-links li a:hover {
  background-color: #808080;
}

.toggle-button {
  position: fixed;
  top: 1.4rem;
  right: 1rem;
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #333;
}

.cuts {
  width: 100%;
  width: 100%;
  margin-top: 90px;
}

.cuts-description {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}

.cuts-description h1 {
  color: #f2f2f2;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 1rem;
}

.cuts-description h1::before {
  content: "";
  position: absolute;
  top: 8.4rem;
  -webkit-transform: translatex(-100px);
          transform: translatex(-100px);
  width: 30%;
  height: .4%;
  background-color: #f2f2f2;
}

.cuts-description h2 {
  color: #f2f2f2;
  font-weight: 200;
  margin-bottom: 1rem;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cuts-description h2::before {
  content: "";
  position: absolute;
  top: 15.7rem;
  -webkit-transform: translatex(-100px);
          transform: translatex(-100px);
  width: 30%;
  height: .5%;
  background-color: #f2f2f2;
}

.cuts-description p {
  padding: .5rem 0;
}

.cuts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  background-color: #f2f2f288;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  margin: 0 20px 30px 20px;
}

.card h2 {
  text-align: left;
  font-weight: 400;
  color: #333;
  width: 80%;
  text-transform: capitalize;
  margin: 0 auto;
}

.card-img {
  background-color: #808080;
  height: 170px;
  background-size: cover;
  margin-bottom: 20px;
  border-radius: 10px 10px 0 0;
}

.cut-1 {
  background: url(../images/belly.jpg);
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.cut-2 {
  background: url(../images/ham.jpg);
}

.cut-3 {
  background: url(../images/rib.jpg);
}

.contact-me {
  width: 100%;
  height: 200px;
  background: #101010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  padding: 1rem;
}

.contact-me p {
  color: #f2f2f2;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}

.contact-me .button-two {
  background-color: #e91;
  color: #f2f2f2;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  -webkit-transition: .4s;
  transition: .4s;
  font-family: 'Poppins';
}

.contact-me .button-two:hover {
  background-color: #333;
  border: 2px solid #808080;
  cursor: pointer;
}

.footer {
  background-color: #f2f2f2;
  padding: 20px 0;
}

.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row img {
  padding: 5rem 2rem;
}

.footer-col {
  width: 22%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  cursor: default;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91;
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li {
  font-size: 16px;
  text-transform: capitalize;
  color: #333;
  text-decoration: none;
  font-weight: 300;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #333;
  text-decoration: none;
  font-weight: 300;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-col ul li:hover {
  color: #808080;
  padding-left: 10px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #808080;
  margin: 0 20px 20px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #333;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #808080;
  background-color: #333;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.container p {
  text-align: center;
  color: #808080;
  margin: 0 auto;
  text-decoration: none;
}

.go-to-top {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #808080;
  bottom: 20px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333;
  font-size: 22px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.go-to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.go-to-top:hover {
  background: #333;
  color: #f2f2f2;
}

@media (max-width: 1300px) {
  .cuts-description h1::before {
    display: none;
  }
  .cuts-description h2::before {
    display: none;
  }
}

@media (max-width: 1080px) {
  label.logo {
    padding: 40px;
  }
  .nav-links li a {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .toggle-button {
    display: block;
  }
  .toggle-button.active .bar:nth-child(2) {
    opacity: 0;
  }
  .toggle-button.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .toggle-button.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  #dork {
    display: inline-block;
  }
  .nav-links {
    position: fixed;
    width: 100%;
    height: 300px;
    background: #f2f2f2;
    top: 70px;
    left: -1000px;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 10;
    padding: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .nav-links::before {
    content: '';
    position: absolute;
    bottom: -5%;
    width: 100%;
    height: 5%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  .nav-links li {
    display: block;
    text-align: left;
  }
  .nav-links li a {
    font-size: 20px;
    color: #333;
  }
  .nav-links li a:hover {
    background: none;
    color: #e91;
    padding-left: 4px;
  }
  .nav-links.active {
    -webkit-transform: translatex(1000px);
            transform: translatex(1000px);
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 720px) {
  .footer-col {
    width: 100%;
  }
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=Pork.css.map */